body {
  font-family: roboto;
  margin: 0;
  background: linear-gradient(151.02deg, #FFFFFF -27.98%, rgba(254, 254, 254, 0.17) -27.97%, #A4A4A4 100.83%), #9E9E9E;
}

.container {
  width: 100%;
  height: 100%;
}

.app-bar {
  display: flex;
  color: white;
  height: 50px;
  width: 100%;
  background: linear-gradient(126.44deg, #FFFFFF -54.67%, rgba(255, 255, 255, 0) 41.41%), #789DFD;
}

.app-bar-title {
  align-self: center;
  font-size: 30px;
  color: white;
  text-align: start;
  padding-left: 10%;
  min-width: fit-content;
  z-index: 1;
}

.add-item-panel {
  height: 100px;
  width: 100%;
  background: linear-gradient(151.48deg, rgba(255, 255, 255, 0) 0.01%, #414141 14.18%), #4F4F4F;
}

.add-item-controls {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 30px;
  width: 100%;
  height: 30px;
}

.task-panel {
  background: linear-gradient(151.02deg, #FFFFFF -27.98%, rgba(254, 254, 254, 0.17) -27.97%, #A4A4A4 100.83%), #9E9E9E;
}

button {
  position: relative;
  border: 0;
  padding: 0;
  font-size: 14px;
  color: white;
  font-family: roboto;
  min-width: 70px;
  max-width: 100px;
  min-height: 30px;
  cursor: pointer;
}

/* # # # # # # # # # #   Add new item   # # # # # # # # # # */

.btn-left {
  margin-left: 10%;
  background: #CA3E7A;
  border-radius: 6px 0 0 6px;
  user-select: none;
}

.btn-right {
  margin-right: 10%;
  background: #219653;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

.txt-input {
  border: 0;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 14px;
  height: 30px;
  min-width: 100px;
  flex: auto;
}

/* # # # # # # # # # #   Tabs   # # # # # # # # # # */

.tabs {
  position: relative;
  top: 46px;
  bottom: 0px;
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
}

.tab-todo {
  margin-right: 40px;
  cursor: pointer;
  color: white;
  font-weight: 100;
  user-select: none;
}

.tab-completed {
  margin-left: 40px;
  cursor: pointer;
  color: white;
  font-weight: 100;
  user-select: none;
}

.tab-active {
  font-weight: 500;
  border-bottom: 3px solid #CA3E7A;
}

/* # # # # # # # # # #   List of tasks   # # # # # # # # # # */
  

.btn-list-left {
  background: #CA3E7A;
  border-radius: 6px 0 0 6px;
  grid-column: 2 / 3;
  justify-self: end;
  z-index: 3;
  user-select: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-list-right {
  background: #219653;
  border-radius: 0 6px 6px 0;
  grid-column: 5 / 6;
  justify-self: start;
  z-index: 3;
  user-select: none;
  margin-top: 10px;
  margin-bottom: 5px;
}

.txt-list-input {
  grid-column: 3 / 5;
  border: 0;
  margin: 0 10px;
  padding: 0 5px;
  font-size: 14px;
  min-height: 30px;
  min-width: 150px;
  z-index: 3;
  margin-top: 10px;
  margin-bottom: 5px;
}





.new-item {
  color: white;
  z-index: 4;
}